# Секреты
.env
.env
!.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/
build/
dist/

# venv
.venv/
venv/
env/

# Test/cache
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
